<h2>Social Media site!</h2>

<% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% elsif %>
    <%= link_to "Sign in", new_user_session_path, method: :get %>
    <p><%= link_to "Find Friends", users_path %></p>
<% end %>