<h1>Testing</h1>
<!--<%= react_component("Posts/PostForm") %>-->
<%= form_for @post, url: { :action=>"create", :controller=>"wall"}, html: { multipart: true } do |post| %>
    <%= post.file_field :image %>
    <%= post.submit %>
<% end %>