$primary-color: #7EEB2A;
$complimentary-color: #EE2A62;
$secondary-color: #C523BE;
$third-color: #C523BE;
$font: Impact;
$font-color: white;

// This is to normalize the styling of the header
html, body, p, button { margin: 0; padding: 0; border: 0; outline: 0; }

// Header / Top navigational bar styling
.header {
    position: relative;
    float: top;
    background-color: $primary-color;
    top: 0;
    margin: 0px;
    padding: 0px;
    height: 30px;
    border-bottom: 1px black solid;

    .context-menu {
        position: absolute;
        width: 6%;
        height: 80%;
        top: 0%;
        right: 0%;
        padding-top: 5px;
        margin-right: 15%;
        text-align: center;
        font-family: $font;
        color: $font-color;
        border: 1px solid black;
    }

    .dropdown-list {
        display: none;
        
    }
    .dropdown-list-full {
        display: block;
        width: 150px;
        text-align: center;
        font-family: Impact;
        color: white;
        background-color: white;
        border: 1px solid black;
        padding: 0;
    }

    .dropdown-list-list {
        padding: 0;
    }

    .dropdown-entry {
        position: relative;
        width: 100%;
        margin: 0;
        list-style-type: none;
    }

    .logo {
        height: 100%;
        padding-left: 15%;
    }

    .friend-requests {
        position: absolute;
        height: 80%;
        top: 0%;
        width: 25px;
        right: 21%;
        padding-top: 5px;
        text-align: center;
        font-family: $font;
        color: $font-color;
    }
    
    .context-button:hover, .context-button:focus {
        background-color: $complimentary-color;
        cursor: pointer;
    }

    #dropdown-list:hover {
        background-color: $complimentary-color;
    }
}