.authentication {
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    display: block;
    top: 20%;
    left: 20%;
    height: 25%;
    width: 60%;
}

.sign-in, .sign-up {
    display: inline-block;
    border: 1px solid black;
}