// Site-wide CSS Styling
//
// Should be used minimally

$imgKey: random(4);
$list: 1, 2, 3, 4;
$nth: nth($list, $imgKey);

#intro {
    background-image: image-url('image_#{$nth}');
    background-size: cover;
}

.notice {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    position: fixed;
}

.alert {
    position: fixed;
}
